
/*xerago swiper start*/
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.d-none {
    display: none !important;
}
section {
    background-repeat: no-repeat;
    background-size: cover;
}
section.hero-lg-slider {
    background-color: #F9F9F9;
}
/*xerago swiper */
:root {
    --swiper-navigation-size: 30px;
    --swiper-theme-color: #007aff;
}
.swiper-content {
    position: absolute;
    text-align:left;
    color:white !important;
    margin: 2rem;
    left:0px;
    left:5%;
}
.swiper-content h1 {
   
    color:white;
    
}
.sign-up-now{
	background-image: linear-gradient(97.04deg, var(--gradient-primary-color) 0%, var(--gradient-secondary-color) 100%);
	font-size: calc(0.9vw + 0.9vh);
	padding: 0.6rem 2rem;
	border-radius:5px;
	font-weight: 800;
	color:#fff;
}
@media (min-width: 992px) {
    .sec-desk {
        display: block;
    }
}
.sec-desk, .sec-tablet, .sec-mobile {
    display: none;
}
.swiper-horizontal {
    touch-action: pan-y;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}
/*swiper style*/
.w-height{
	height: 400px;
}
        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
		width:100%;
		height:400px;
		height: -webkit-fill-available;
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
		@media (max-height: 476px) {
            .hero-lg-slider .swiper-slide {
                background-position: 100% 100%;
            }
        }
        .hero-lg-slider .swiper-slide {
            background-image: url(/sites/sites7/themes/xerago_theme/css/revamp/../images/desk-k.png);
            background-size: 86vh;
            height: auto !important;
            background-repeat: no-repeat;
            background-position: 100% 100%;
            background-color: #F9F9F9;
        }
        .full-banner .swiper-slide {
            background-size: cover !important;
        }
        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            transition-property: transform;
            display: block;
        }
        .banner-ht {
            padding-top: 6rem;
        }
        @media only screen and (min-width: 1441px) {
            .hero-height {
                height: 78vh !important;
            }
        }
        @media (min-width: 992px) {
            .align-items-lg-center {
                align-items: center !important;
            }
        }
        .px-5 {
            padding-right: 3rem !important;
            padding-left: 3rem !important;
        }
        .align-items-stretch {
            align-items: stretch !important;
        }
        
/* end swiper css */